<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
        </section>
        <section class="user_profile">
            <%= @user.name %>'s profile
            <% if !!current_user && current_user.id == @user.id %>
                (
                <%= link_to 'Edit', edit_user_path(@user) %>
                )
            <% end %>
            <div class="row">
                <div class="col-md-4">
                    <%= fa_icon "envelope" %>
                    email
                </div>
                <div class="col-md-8">
                    <%= @user.email %>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4">
                    <%= fa_icon "user" %>
                    profile
                </div>
                <div class="col-md-8">
                    <%= @user.profile %>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4">
                    <%= fa_icon "map-marker" %>
                    location
                </div>
                <div class="col-md-8">
                    <%= @user.location %>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4">
                    <%= fa_icon "link" %>
                    url
                </div>
                <div class="col-md-8">
                    <%= @user.url %>
                </div>
            </div>
        </section>
        <section class="follow_users">
            <h3>Following</h3>
            <ul>
                <%= render @following_users %>
            </ul>
        </section>
        <section class="follow_users">
            <h3>Follower</h3>
            <ul>
                <%= render @followers_users %>
            </ul>
        </section>
    </aside>
    <div class="col-md-8">
        <%= render 'follow_form' if logged_in? %>
        <% if @user.microposts.any? %>
            <h3>Microposts (<%= @user.microposts.count %>)</h3>
            <ol class="microposts">
                <%= render @microposts %>
            </ol>
        <% end %>
    </div>
</div>
