<h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
</h1>

<div id="profile" class="panel panel-default">
    <div class="panel-heading">
        Your profile
    </div>
    
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                email
            </div>
            <div class="col-md-8">
                <%= @user.email %>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                profile
            </div>
            <div class="col-md-8">
                <%= @user.profile %>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                location
            </div>
            <div class="col-md-8">
                <%= @user.location %>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                url
            </div>
            <div class="col-md-8">
                <%= @user.url %>
            </div>
        </div>
    </div>
</div>

