<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
        </section>
        <section class="user_profile">
            <%= @user.name %>'s profile
            <% if !!current_user && current_user.id == @user.id %>
                (
                <%= link_to 'Edit', edit_user_path(@user) %>
                )
            <% end %>
            <div class="row">
                <div class="col-md-4">
                    <%= fa_icon "envelope" %>
                    email
                </div>
                <div class="col-md-8">
                    <%= @user.email %>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4">
                    <%= fa_icon "user" %>
                    profile
                </div>
                <div class="col-md-8">
                    <%= @user.profile %>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4">
                    <%= fa_icon "map-marker" %>
                    location
                </div>
                <div class="col-md-8">
                    <%= @user.location %>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4">
                    <%= fa_icon "link" %>
                    url
                </div>
                <div class="col-md-8">
                    <%= @user.url %>
                </div>
            </div>
        </section>
        <section class="follow_users">
            <p>
                Following
                <%= link_to "#{@following_number} users", followings_path(@user) %>
            </p>
        </section>
        <section class="follow_users">
            <p>
                Follower
                <%= link_to "#{@followers_number} users", followers_path(@user) %>
            </p>
        </section>
    </aside>
    <div class="col-md-8">
        <%= render 'follow_form' if logged_in? %>
        <% if @user.microposts.any? %>
            <h3>Microposts (<%= @user.microposts.count %>)</h3>
            <ol class="microposts">
                <%= render @microposts %>
            </ol>
            <%= paginate @microposts, params: {controller: 'static_pages', action: 'home', _: nil, _method: nil, authenticity_token: nil, utf8: nil} %>
        <% end %>
    </div>
</div>
